<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<body>
  <main class="intro">
    <h1 class="app-title">Git Resumé</h1>
    <h3>Build your developer resumé by connecting your github</h3>
    <input type="button" class="signin-btn" onclick="location.href='https://github.com/login/oauth/authorize?client_id=db5b5dd4212d16cb9f2a';" value="Connect with Github" />
  </main> 
  
  <footer>
    <h3 class="recent-cv">Recently made resumés</h3>
    <div id="cv-samples">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9AJgr3Owp2vFQ4aeVBQcSEtBNa7FkAWF5kOcV6Nwck_M3GvJqbw" alt="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9AJgr3Owp2vFQ4aeVBQcSEtBNa7FkAWF5kOcV6Nwck_M3GvJqbw" alt="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9AJgr3Owp2vFQ4aeVBQcSEtBNa7FkAWF5kOcV6Nwck_M3GvJqbw" alt="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9AJgr3Owp2vFQ4aeVBQcSEtBNa7FkAWF5kOcV6Nwck_M3GvJqbw" alt="">
    </div>
  </footer>
</body>
</html>