* {
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  color: #666666;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.intro {
  text-align: center;
  flex: 1 0 auto;
  margin-top: 8em;
}

.app-title, .recent-cv, input[value="Connect with Github"]  {
  color: #63b6cf;
}

.signin-btn {
  height: 3em;
  width: 13em;
  border-radius: .5em;
  font-size: 16pt;
  margin: 1em;
  line-height: 50px;
  border: 1.5px solid #63b6cf;
}

.signin-btn:hover {
  background-color: #63b6cf;
  color: white;
  border: none;
  cursor: pointer;
}

.button-logo {
  height: 1.2em;
  margin: .5em .5em 0 0;
}

footer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  flex-shrink: 0;
}

#cv-samples {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#cv-samples > img {
  height: 13em;
  width: 13em;
  margin: 2em;
}
